<div ng-controller='pollsController'>
	<a href="#/create">Create a New Poll</a>
	<button ng-click='logout()'>Logout</button>
	<h1>Current Polls:</h1>
	<input type="text" placeholder="Search" ng-model='poll_filter'>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Survey Question</th>
				<th>Date Posted</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='p in polls | filter: poll_filter'>
				<td>{{p._user.name}}</td>
				<td><a href="#/poll/{{p._id}}">{{p.question}}</a></td>
				<td>{{p.createdAt | date: format: 'shortDate'}}</td>
				<td><button ng-show="p._user._id == curr_user " ng-click='deletePoll(p._id)'>Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>